<div class="top-bar">
    <div class="u-wrapper">
        {% include '@Core/components/language-switcher.twig' %}
        <a href="{{ link('./') }}" class="top-bar__logo title2 u-uppercase u-long-shadow t-serif">Grumlin Games</a>
    </div>
</div>
