.c- {
    &white-base { color: var(--color-white-base); }
    &base-blue { color: var(--color-base-blue); }
    &base-orange { color: var(--color-base-orange); }
}

.bg- {
    &gray-base { background-color: var(--color-gray-base); }
    &light-yellow { background-color: var(--color-light-yellow); }
}
