.u-bold { font-weight: 700; }
.u-noscroll { overflow: hidden; }
.u-align-center { text-align: center; }
.u-uppercase { text-transform: uppercase; }
.u-sr-only { @include visually-hidden; }
.u-reading { max-width: get-maxrems($max-reading-width); }

.u-styled-list {
    list-style: disc;
    padding-left: space(2);

    li {
        display: list-item;
    }

    li::marker {
        color: var(--color-red-base);
        font-size: .7em;
    }
}

.u-shadow {
    @include long-shadow(2, var(--color-dark));

    overflow: hidden;

    &:hover {
        @include long-shadow(54, var(--color-dark));
    }
}

.u-long-shadow {
    @extend .u-shadow;
    @include long-shadow(4, var(--color-dark));

    &:hover {
        @include long-shadow(34, var(--color-dark));
    }
}
