{% set class = section.class|default('') %}

<section class="contact-form padding-top--xxl padding-bottom--xxl" id="contact">
    <div class="contact-form__content u-wrapper is-reader">
        <h2>{{ 'commons.contact_us'|trans }}</h2>
        <p>{{ 'contact_form.description'|trans }}</p>

        <div class="margin-bottom--xxl">
            <h2 class="index__section-title title3 t-display">{{ 'contact_form_title'|trans}}</h2>
        </div>

        {% include 'components/contact-form.twig' %}
    </div>
</section>
