<nav class="language-switcher">
    <ul class="u-flex u-flex--justify-end">
        {% for locale in languages %}
            {% set activeClass = locale == currentLocale ? 'active' : '' %}
            <li>
                <a href="{{ transRoute(pageName, locale) }}" class="{{ activeClass }} language-switcher__link u-flex u-uppercase">
                    {{ locale }}
                </a>
            </li>
        {% endfor %}
    </ul>
</nav>
