{% set class = component.class|default('') %}
{% set slides = component.slides|default([]) %}

<div class="cover-slider swiper js-swiper-cover">
    <div class="swiper-wrapper">
        {% for slide in slides %}
            {% include 'components/cover-slide.twig' with { 
                component: {
                    slide: slide
                }
            } %}
        {% endfor %}
    </div>
    <div class="swiper-pagination js-swiper-pagination u-align-center"></div>
</div>