body {
    @include breakpoint-max($s960) {
        padding-bottom: space(5.4) !important;
    }
}

.fix-cta {
    @include breakpoint-max($s960) {
        background-color: var(--color-white-base);
        bottom: 0;
        padding: space(.5) space() space();
        position: fixed;
        width: 100%;
    }

    .cta {
        @include breakpoint($s960) {
            position: fixed;
            top: space(1.6);
        }
    }
}
