@import '../../../../../node_modules/swiper/swiper.scss';
@import '../../../../../node_modules/swiper/modules/pagination/pagination.scss';

.swiper-pagination { bottom: 0 !important; }

.swiper-pagination-bullet {
    background: var(--color-light);
    border-radius: 1px;
    height: 7px;
    margin: 0 3px !important;
    width: 7px;
}

.swiper-pagination-bullet-active {
    height: 10px;
}

.cover-slider {
    height: inherit;
    width: 100%;
}
