.form {
    &__fieldset {
        label + input,
        label + textarea {
            margin-top: space(.75);
        }
    }

    &__fieldset + .form__fieldset {
        margin-top: space(1.5);
    }

    .invalid,
    :invalid:not(:placeholder-shown):not(:focus) {
        border: 2px solid red;
    }
}
