$min-font-size: 16px;
$max-font-size: 18px;
$max-reading-width: 580px;
// $msBase: 1.25 !default; // Minor Third 5:6
// $msDesktop: 1.414; // Demo: Aug. Forth.

$t-display: 'Bebas Neue', 'Impact', 'Tahoma', Arial, sans-serif;
$t-sans-serif: Helvetica, Arial, sans-serif;
$t-serif: 'Canela', Georgia, serif;
