{% set class = section.class|default('') %}

<section class="billboard {{ class }} padding-top--xxl padding-bottom--xxl">
    <div class="u-wrapper padding-top--xxl padding-bottom--xxl">
        <div class="u-wysiwyg">
            <h2 class="billboard__text title2 t-display">{{ 'billboard.title'|trans}}</h2>
            <p class="billboard__text title4">{{ 'billboard.description'|trans }}</p>
            <a href="#contact" class="cta cta--hollow margin-top--xl">{{ 'billboard.cta_label'|trans }}</a>
        </div>
    </div>
</section>