button,
input,
textarea {
    &:focus {
        outline: 1px dashed var(--color-yellow-base);
    }
}

button {
    appearance: none;
    background: transparent;
    border: none;
    color: inherit;
    font: inherit;
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    line-height: normal;
    margin: 0;
    overflow: visible;
    padding: 0;
    width: auto;
}

input + label,
select + label {
    display: inline-flex;
    margin-top: 26px;
}

label { display: inline-flex; }
label input { margin: 0 space(.5); }

input[type="checkbox"] + label {
    display: inline;
    line-height: 1.5;
    margin-left: get-rems(5px);
}

input:not([type="radio"], [type="checkbox"]),
textarea,
select {
    background-color: var(--color-light);
    border: 1px solid var(--color-base-orange);
    box-sizing: border-box;
    font-size: 1rem;
    height: space(2.75);
    line-height: 1.5;
    padding: space(.65) space() space(.65);
    width: 100%;
}

input:not([type="radio"], [type="checkbox"]):hover,
textarea:hover,
select:hover {
    border-color: var(--color-yellow-base);
}

input,
textarea {
    box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, .2);
}

input {
    border: 1px solid green;
    margin: 0;
}

textarea {
    font-family: $t-sans-serif;
    min-height: 120px;
}
