.theme1,
.theme2 {
    --color-link: var(--color-light-yellow);
    --color-primary: var(--color-light);
}

.theme1 {
    --accent-color: var(--color-dark-blue);
    --color-background: var(--color-base-brown);

    background-color: var(--color-background);
    color: var(--color-primary);
}

.theme2 {
    --accent-color: var(--color-base-orange);
    --color-background: var(--color-dark-blue);

    background-color: var(--color-background);
    color: var(--color-primary);
}
