.location {
    &__column-map {
        @include aspect-ratio(16, 9);

        @include breakpoint($s768) {
            min-width: 60%;
        }
    }

    &__textual {
        background-color: var(--color-dark);
        color: var(--color-light);
        padding: space(1.5);
        padding-bottom: space(3.5);
    }

    &__columns-wrapper {
        @include breakpoint-max($s768) {
            padding: 0 space(2);
        }

        @include breakpoint($s768) {
            display: flex;
            flex-direction: row-reverse;
        }
    }
}
