@import '../generic/typography';

.u-wysiwyg {
    h1 { @extend .title2; }
    h2 { @extend .title3; }
    h3 { @extend .title4; }
    h4 { @extend .title5; }

    ul {
        list-style: disc;
        padding-left: space(1.5);

        & + p {
            margin-top: space(1.125);
        }

        & + h1,
        & + h2,
        & + h3,
        & + h4 {
            margin-top: space(2.5);
        }

        li {
            @include fluid-type(16px, 18px);

            display: list-item;
        }
    }

    li + li {
        margin-top: space(.25);
    }

    p {
        & + ul {
            margin-top: space();
        }

        & + h1,
        & + h2,
        & + h3,
        & + h4 {
            margin-top: space(2.5);
        }
    }

    p + p { margin-bottom: space(.5); }
}
