@mixin flex-basic($breakpoints:[], $base: true) {
    @if $base {
        .u-flex {
            display: flex;

            &--justify-end { justify-content: flex-end; }
            &--justify-center { justify-content: center; }
            &--inline { display: inline-flex !important; }
        }
    }

    @each $breakpoint in $breakpoints {
        $namespace: strip-unit($breakpoint);

        @include breakpoint($breakpoint) {
            .u-flex--s#{$namespace} {
                display: flex !important;
            }
        }
    }
}
